* {
  margin: 0;
  padding: 0;
}

.container {
  width: 100%;
  height: 500px;
  background-color: #ccc;

  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
  align-content: space-between;

  /* flex-flow: row wrap; (flex-direction: row & flex-wrap: wrap in one line )*/
}

.item1 {
  background-color: black;
  height: 100px;
  width: 300px;
  color: white;
  flex-grow: 1;
}

.item2 {
  background-color: green;
  height: 100px;
  width: 300px;
  color: white;
  flex-grow: 2;
}

.item3 {
  background-color: red;
  height: 100px;
  width: 300px;
  color: white;
  flex-basis: 45%;
}

.item4 {
  background-color: blue;
  height: 100px;
  width: 300px;
  color: white;
  flex-basis: 45%;
}

.item5 {
  background-color: navy;
  height: 100px;
  width: 300px;
  color: white;
  flex-basis: 60%;
}

.item6 {
  background-color: purple;
  height: 100px;
  width: 300px;
  color: white;
  flex-basis: 90%;
}
