* {
  box-sizing: border-box;
}

body {
  background: hsl(284, 100%, 99%);
  font-family: 'Nunito Semibold';
  color: hsl(0, 0%, 0%);
  font-size: 40px;
  height: 660px;
  padding: 0;
  margin: 0 auto;
}

.one {
  background: hsl(225, 83%, 85%);
  text-align: center;
  line-height: 700px;
}

.two {
  background: hsl(60, 100%, 85%);
  text-align: center;
  line-height: 700px;
}

.three {
  background: hsl(0, 100%, 85%);
  text-align: center;
  line-height: 700px;
}

.main-container .box-container {
  display: flex;
  flex-direction: row;
}

.main-container .one, .two, .three {
  width: 100vw;
  height: 100vh;
  margin: 10px 15px;
  border: 1px solid hsl(0, 0%, 0%);
}

/* Phones */
@media only screen and (max-width: 425px) {
  .main-container .box-container {
    flex-direction: column;
  }

  .main-container .one, .two, .three {
    margin: 0;
  }
}

/* Aything in between */
@media only screen and (min-width: 425px) and (max-width: 768px) {
  .main-container .box-container {
    flex-direction: column;
  }

  .main-container .one, .two, .three {
    margin: 0;
  }
}

/* Tablets */
@media only screen and (min-width: 768px) and (max-width: 1024px) {
  .main-container .box-container {
    flex-direction: column;
  }

  .main-container .one, .two, .three {
    margin: 0;
  }


}
