body {
  font-family: 'Indie Flower', cursive;
}
h1 {
  text-align: center;
  margin-bottom: 45px;
  font-size: 60px;
}
td {
  width: 120px;
  height: 120px;
}
table {
  margin: 0 auto;
  background: #dbe7f9;
  box-shadow: 0 3px 4px black;
}
.vertical {
  border-left: 2px solid black;
  border-right: 2px solid black;
}
.horizontal {
  border-top: 2px solid black;
  border-bottom: 2px solid black;
}