.parent {
  border: 5px solid lightcoral;
}

.item {
  height: 50px;
  margin: 5px;
  background: DeepSkyBlue;
  color: white;
  text-align: center;
  line-height: 50px;
  font-weight: 600;
}

/* display: flex */

.example-flex .parent {
  display: flex;
}

.example-flex .item {
  width: 50px;
}

/* flex-direction */

.example-direction .parent {
  display: flex;
  flex-direction: row-reverse;
}

.example-direction .item {
  width: 50px;
}

/* flex-wrap  */

.example-wrap .parent {
  display: flex;
  flex-wrap: wrap;
}

.example-wrap .item {
  width: 25%;
}
