.parent {
  border: 5px solid lightcoral;
}

.item {
  height: 50px;
  margin: 5px;
  background: DeepSkyBlue;
  color: white;
  text-align: center;
  line-height: 50px;
  font-weight: 600;
}

/* display: flex */

.example-flex .parent {
  display: flex;
}

.example-flex .item {
  width: 50px;
}

/* flex-direction */

.example-direction .parent {
  display: flex;
  flex-direction: row-reverse;
}

.example-direction .item {
  width: 50px;
}

/* flex-wrap: wrap  */

.example-wrap .parent {
  display: flex;
  flex-wrap: wrap;
}

.example-wrap .item {
  width: 25%;
}

/* flex-wrap: wrap-reverse */

.example-wrap-reverse .parent {
  display: flex;
  flex-wrap: wrap-reverse;
}

.example-wrap-reverse .item {
  width: 25%;
}

/* justify-content: space-around */

.example-justify-around .parent {
  display: flex;
  justify-content: space-around;
}

.example-justify-around .item {
  width: 50px;
}

/* justify-content: space-between  */

.example-justify-between .parent {
  display: flex;
  justify-content: space-between;
}

.example-justify-between .item {
  width: 50px;
}

/* justify-content: center */

.example-justify-center .parent {
  display: flex;
  justify-content: center;
}

.example-justify-center .item {
  width: 50px;
}

/* justify-content: flex-end */

.example-justify-end .parent {
  display: flex;
  justify-content: flex-end;
}

.example-justify-end .item {
  width: 50px;
}
