.parent {
  border: 5px solid lightcoral;
}

.item {
  height: 50px;
  margin: 5px;
  background: DeepSkyBlue;
  color: white;
  text-align: center;
  line-height: 50px;
  font-weight: 600;
}

.item-stretch {
  /* height: 50px; */
  margin: 5px;
  background: DeepSkyBlue;
  color: white;
  text-align: center;
  line-height: 50px;
  font-weight: 600;
}

/* display: flex */

.example-flex .parent {
  display: flex;
}

.example-flex .item {
  width: 50px;
}

/* flex-direction: row-reverse */

.example-direction-row-reverse .parent {
  display: flex;
  flex-direction: row-reverse;
}

.example-direction-row-reverse .item {
  width: 50px;
}

/* flex-direction: column-reverse */

.example-direction-column-reverse .parent {
  display: flex;
  flex-direction: column-reverse;
}

.example-direction-column-reverse .item {
  width: 50px;
}
/* flex-wrap: wrap  */

.example-wrap .parent {
  display: flex;
  flex-wrap: wrap;
}

.example-wrap .item {
  width: 25%;
}

/* flex-wrap: wrap-reverse */

.example-wrap-reverse .parent {
  display: flex;
  flex-wrap: wrap-reverse;
}

.example-wrap-reverse .item {
  width: 25%;
}

/* justify-content: space-around */

.example-justify-around .parent {
  display: flex;
  justify-content: space-around;
}

.example-justify-around .item {
  width: 50px;
}

/* justify-content: space-between  */

.example-justify-between .parent {
  display: flex;
  justify-content: space-between;
}

.example-justify-between .item {
  width: 50px;
}

/* justify-content: center */

.example-justify-center .parent {
  display: flex;
  justify-content: center;
}

.example-justify-center .item {
  width: 50px;
}

/* justify-content: flex-end */

.example-justify-end .parent {
  display: flex;
  justify-content: flex-end;
}

.example-justify-end .item {
  width: 50px;
}

/* align-items: flex-end */

.example-align-items-end .parent {
  height: 200px;
  display: flex;
  align-items: flex-end;
  justify-content: space-around;
}

.example-align-items-end .item {
  width: 50px;
}

/* align-items: stretch */

.example-align-items-stretch .parent {
  height: 200px;
  display: flex;
  align-items: stretch;
}

.example-align-items-stretch .item-stretch {
  width: 50%;
}

/* align-content: space-around */

.example-align-content-around .parent {
  height: 200px;
  display: flex;
  align-content: space-around;
  flex-wrap: wrap;
}

.example-align-content-around .item {
  width: 20%;
}

/* align-content: center  */

.example-align-content-center .parent {
  height: 200px;
  display: flex;
  align-content: center;
  flex-wrap: wrap;
}

.example-align-content-center .item {
  width: 20%;
}

/* order */

.example-order .parent {
  display: flex;
}

.example-order .item {
  width: 50px;
}

.example-order .item:nth-child(2) {
  order: 1;
  background-color: lightgreen;
}

.example-order .item:nth-child(4) {
  order: 2;
  background-color: lightgreen;
}

/* flex-grow: #number */

.example-flex-grow .parent {
  display: flex;
}

.example-flex-grow .item {
  width: 50px;
}

.example-flex-grow .item:nth-child(2) {
  flex-grow: 2;
  background-color: lightgreen;
}

/* flex-shrink: #number */

.example-flex-shrink .parent {
  display: flex;
}

.example-flex-shrink .item {
  width: 500px;
}

.example-flex-shrink .item:nth-child(2) {
  flex-shrink: 2;
  background-color: lightgreen;
}

/* align-self: flex-end */

.example-align-self-end .parent {
  height: 200px;
  display: flex;
  justify-content: space-between;
}

.example-align-self-end .item {
  width: 50px;
  height: 50px;
}

.example-align-self-end .item:nth-child(2) {
  align-self: flex-end;
  background-color: lightgreen;
}
